DATABASE_URL=$DATABASE_URL
API_KEY_KONG=$API_KEY_KONG
API_KEY_FRONTEND=$API_KEY_FRONTEND
RPC_URL_1=$RPC_URL_1
RPC_URL_10=$RPC_URL_10
RPC_URL_100=$RPC_URL_100
RPC_URL_137=$RPC_URL_137
RPC_URL_146=$RPC_URL_146
RPC_URL_250=$RPC_URL_250
RPC_URL_8453=$RPC_URL_8453
RPC_URL_42161=$RPC_URL_42161
RPC_URL_80094=$RPC_URL_80094
RPC_URL_747474=$RPC_URL_747474
